In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\usuario\anaconda3\lib\site-packages (8.0.31)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\usuario\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)
Note: you may need to restart the kernel to use updated packages.

In [42]:
import mysql.connector

# Establecer conexión a la base de datos MySQL
try:
    conn = mysql.connector.connect(
        host = "localhost",  # Nombre de host o dirección IP del servidor MySQL
        port = 3306,
        user = "root",
        password = "*******",
        db = 'ejercicio'
    )
    if conn.is_connected():
        print('Conexón exitosa')
        info_server = conn.get_server_info()
        print(info_server)
        
        # Crear un cursor para realizar consultas
        cursor = conn.cursor()
        
        # Ejecutar una consulta SQL
        cursor.execute("select * from caso where Millones <= 10")

        # Obtener resultados de la consulta
        results_table = cursor.fetchall()
        
        # Imprimir los resultados
        for row in results_table:
            print(row)
        
        # Ejecutar una consulta SQL para obtener las columnas de la tabla 'caso'
        tabla = 'caso'
        consulta = f"SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = '{tabla}'"
        cursor.execute(consulta)
        
        # Obtener resultados de la consulta
        results_name = cursor.fetchall()
        
        # Imprimir los resultados
        for row in results_name:
            print(row)
        
   
except Exception as ex:
    print(ex)

# Cerrar cursor y conexión
finally:
    if conn.is_connected():
        cursor.close()
        conn.close()

Conexón exitosa
8.0.31
('caso boluya', 'sipppe', 1, 'nacional', '00000000N')
('caso erre', 'sipppe', 1, 'nacional', '87654321N')
('caso viluto', 'lo que sea', 10, 'nacional', '87654321N')
('Ambito',)
('Descripción',)
('dni_imp',)
('Millones',)
('Nombre_del_caso',)

In [43]:
results_name

[('Ambito',),
 ('Descripción',),
 ('dni_imp',),
 ('Millones',),
 ('Nombre_del_caso',)]

In [44]:
print(results_name)
# Utilizar una comprensión de lista para eliminar los caracteres
results_name = [elemento[0] for elemento in results_name]
print(results_name)

[('Ambito',), ('Descripción',), ('dni_imp',), ('Millones',), ('Nombre_del_caso',)]
['Ambito', 'Descripción', 'dni_imp', 'Millones', 'Nombre_del_caso']

In [45]:
#Convertir a dataframe
import pandas as pd
df_results = pd.DataFrame(results_table, columns = results_name)

In [46]:
df_results.head()

        Ambito Descripción  dni_imp  Millones Nombre_del_caso
0  caso boluya      sipppe        1  nacional       00000000N
1    caso erre      sipppe        1  nacional       87654321N
2  caso viluto  lo que sea       10  nacional       87654321N